{% extends 'include/base.html' %}
{% load static %}

{% block body %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({%  static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url({%  static 'images/bg_2.jpg' %});">
					</div>
					<div class="col-md-7 wrap-about py-5 px-4 px-md-5 ftco-animate">
	          <div class="heading-section mb-5">
	            <h2 class="mb-4">Richcon Construction Group</h2>
	          </div>
	          <div class="">
							<p>Richcon Group olaraq, Azərbaycanın tikinti sektorunda peşəkar mühəndis, usta və texniki heyətimizlə birlikdə təmir və tikinti xidmətləri göstərən bir şirkətik. Yeni yaranmağımıza baxmayaraq, komandamız tikinti sahəsində dərin biliklərə və 15 ildən artıq təcrübəyə malikdir. Bu, müştərilərimizə düzgün və dəqiq mühəndislik həlləri təqdim edə bilməyimizi təmin edir. Uğurla tamamladığımız layihələr bu iddiamızın ən bariz sübutudur. Məqsədimiz, tikinti zamanı müştərilərimizi ikinci xərclərdən qorumaq, bizə həvalə edilən işləri vaxtında və dəqiqliklə yerinə yetirərək uğurla təhvil verməkdir. Ulu öndərimiz mərhum Heydər Əliyevin başlatdığı quruculuq yolunu, hal-hazırda Ali Baş Komandanımız cənab İlham Əliyevin məharətlə davam etdirdiyi inkişaf yolunda davam etdirməkdən qürur duyur və bu yolda inamla çalışırıq.</p>
						</div>
					</div>
				</div>
			</div>
		</section>



{% endblock %}
